<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{/css/site.css}" rel="stylesheet" />
  <div th:insert="blocks/header" ></div>
</head>
<body>
<h1>Все сотрудники</h1>
<form method="post" th:action="${'/employee/filter'}">
  <input type="text" name="surname">
  <button type="submit">Найти</button>
  <div th:each="el : ${result}">
    <p th:text="${el.surname}"></p>
    <p th:text="${el.height}"></p>
    <p th:text="${el.lovecookie}"></p>
    <p th:text="${el.favnumber}"></p>
    <p th:text="${el.weight}"></p>
  </div>
</form>
<div th:each="el : ${employees}">
  <p th:text="${el.surname}"></p>
  <p th:text="${el.height}"></p>
  <p th:text="${el.lovecookie}"></p>
  <p th:text="${el.favnumber}"></p>
  <p th:text="${el.weight}"></p>
  <from th:each="addr : ${el.getPost()}">
    <a th:text="${addr.getNamepost()}"></a>
  </from>
  <from th:each="addr : ${el.getPassport()}">
    <p th:text="${addr.getNumber()}"/>
  </from>
  <form th:each="univ : ${el.getSupervisors()}">
    <div>
      <a th:text="${univ.getName()}"/>
<!--      <a th:href="'employee/'+ ${el.id} + '/'+ ${univ.id} + '/remove'">Убрать супервизора</a>-->
    </div>
  </form>
  <br/>
  <a th:href="'/employee/' + ${el.id} + '/edit'" class="edit">Редактирование</a>
  <a th:href="'/employee/' + ${el.id} + '/remove'" class="delete">Удаление</a>
</div>
</body>
</html>