<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавление новой должности</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{static/css/style.css}" rel="stylesheet" />
  <div th:insert="blocks/header" ></div>
</head>
<body>
<form th:action="${'/post/add'}" th:object="${posts}" method="post">
  <input type="number" name="maxsalary" placeholder="Максимальная зарплата">
  <div th:if="${#fields.hasErrors('maxsalary')}" th:errors="*{maxsalary}"></div>
  <input type="checkbox" name="paid" placeholder="Платим за эту должность?">
  <div th:if="${#fields.hasErrors('paid')}" th:errors="*{paid}"></div>
  <textarea name="namepost" placeholder="Наименование должности"></textarea>
  <div th:if="${#fields.hasErrors('namepost')}" th:errors="*{namepost}"></div>
  <input type="number" name="salary" placeholder="Зарплата">
  <div th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></div>
  <input type="number" name="countemploey" placeholder="сколько таких сотрудников">
  <div th:if="${#fields.hasErrors('countemploey')}" th:errors="*{countemploey}"></div>
  <br>
  <button type="submit">Добавить должность</button>
</form>
</body>
</html>